@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

[data-theme="dark"] {
  background-color: rgb(15 23 42);
}

[data-theme="dark"] div[class="group border border-slate-500 dark:bg-white p-6 rounded-md cursor-pointer hover:translate-y-2 duration-300 md:h-full"] > h2 {
  color: #ffffff;
}

[data-theme="dark"] div[class="group border border-slate-500 dark:bg-white p-6 rounded-md cursor-pointer hover:translate-y-2 duration-300 md:h-full"] > p {
  color: #ffffff;
}

[data-theme="light"] {
  background-color: #edf3ff;
}

[data-theme="light"] div[class="flex flex-col gap-5 bg-slate-700 rounded-md w-96 py-3 px-4"] > ul > p {
  color: #ffffff;
}

[data-theme="light"] div[class="flex flex-col gap-5 bg-slate-700 rounded-md w-96 py-3 px-4"] > ul > div > li {
  color: #ffffff;
}

[data-theme="light"] div[class="flex flex-row items-center bg-white w-fit rounded-md py-1 px-1 my-1"] {
  color: #000000;
  border: solid;
  border-color:#000000;
}

[data-theme="light"] a {
  color: #ffffff;
}

[data-theme="light"] div[class="mx-8"] > h2 {
  font-weight: 700;
}

[data-theme="light"] aside > h1 {
  color: #ffffff;
}

[data-theme="light"] aside > div > p {
  color: #ffffff;
}

[data-theme="light"] aside > div > div > span {
  color: #ffffff;
}

[data-theme="light"] aside > div > div > button {
  color: #ffffff;
}

[data-theme="light"] aside > div > button {
  color: #ffffff;
}

[data-theme="light"] a[class="inline-block py-2 px-3 mt-4 mb-3 rounded-md bg-transparent hover:text-white text-md text-orange-600 border-2 border-orange-600"] {
  background-color: rgb(234 88 12);
  color: #ffffff;
}

[data-theme="light"] aside > div[class="border-2 border-gray-700 rounded-lg"] {
  border: none;
}

[data-theme="light"] aside > div[class="border-2 border-gray-700 rounded-lg"] > div[class="py-4 px-2 rounded-lg"] {
  background-color: rgb(73 90 114);
}

[data-theme="light"] div[class="py-4 px-2 rounded-lg"] > h3 {
  color: white;
}

[data-theme="light"] div[class="py-4 px-2 rounded-lg"] > p {
  color: white;
}

[data-theme="light"] h2[class='my-2'] {
  color: #ffffff;
}

[data-theme="light"] div[class="group border border-slate-500 p-6 rounded-md cursor-pointer hover:translate-y-2 duration-300 md:h-full"] {
  background-color: rgb(15 23 42);
}

[data-theme="light"] div[class="bg-slate-800 my-1 py-4 rounded-lg"] {
  background-color: #edf3ff;
}

[data-theme="light"] div[class="flex flex-col items-center py-8 px-14 rounded-md bg-slate-900 w-[32%]"] {
  background-color: rgb(51 65 85);
  color: #ffffff;
}

[data-theme="light"] div[class="bg-slate-800 my-1 py-4 rounded-lg"] > h3 {
  color: rgb(249 115 22);
}

[data-theme="light"] div#recipe-page > section#comments-section > ul > li {
  background-color: rgb(73 90 114);
  color: #ffffff;
}

[data-theme="light"] div#recipe-page > section#comments-section > div > div > form > button {
  color: #ffffff;
}

[data-theme="light"] section#instructions-section > div > div[class="flex flex-col gap-3 rounded-md mt-8 mb-14 mx-14 xl:mx-80 px-24 py-24 xl:h-96 bg-slate-700 justify-center items-center"] {
  color: #ffffff;
}

[data-theme="light"] section#ingredients-tools-section > aside > h3 {
  color: #ffffff;
}

[data-theme="light"] section#ingredients-tools-section > aside > p {
  color: #ffffff;
}

.mySwiper {
  --swiper-pagination-color: rgb(234 88 12);
  --swiper-pagination-bullet-inactive-color: #999999;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}
