@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

[data-theme="dark"] {
  background-color: rgb(15 23 42);
}

[data-theme="dark"] div[class="group border border-slate-500 dark:bg-white p-6 rounded-md cursor-pointer hover:translate-y-2 duration-300 md:h-full"] > h2 {
  color: #ffffff;
}

[data-theme="dark"] div[class="group border border-slate-500 dark:bg-white p-6 rounded-md cursor-pointer hover:translate-y-2 duration-300 md:h-full"] > p {
  color: #ffffff;
}

[data-theme="dark"] h1#favorites-list-header {
  color: #ffffff;
}

[data-theme="dark"] h3#comment-blog-header {
  color: #ffffff;
}

[data-theme="dark"] h3#comment-recipe-header {
  color: #ffffff;
}

[data-theme="dark"] p#comment-blog-text {
  color: #ffffff;
}

[data-theme="dark"] p#comment-recipe-text {
  color: #ffffff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23000" fill-opacity="1" height="30" viewBox="0 0 20 20" width="30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
    width: 14px;
    height: 18px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: .5rem;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.04);
}
.mySwiper {
  --swiper-pagination-color: rgb(234 88 12);
  --swiper-pagination-bullet-inactive-color: #999999;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}
